# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
.env* text=auto

# Declare files that will always have LF line endings on checkout.
*.sh        text eol=lf
*.bash      text eol=lf
*.lua       text eol=lf

# Declare files that will always have CRLF line endings on checkout.


# Denote all files that are truly binary and should not be modified.
*.png       binary
*.jpg       binary
*.jpeg      binary
*.gif       binary
*.ico       binary
*.pdf       binary
*.woff      binary
*.woff2     binary
