UsosOAuth__ConsumerKey=your-usos-consumer-key
UsosOAuth__ConsumerSecret=your-usos-consumer-secret

ConnectionStrings__DefaultConnection=Host=localhost;Port=5433;Database=putwiki;Username=postgres;Password=password
