UsosOAuth__ConsumerKey=your-usos-consumer-key
UsosOAuth__ConsumerSecret=your-usos-consumer-secret
UsosOAuth__HashingKey=your-user-usos-id-hashing-key
ConnectionStrings__DefaultConnection=Host=localhost;Port=5433;Database=putwiki;Username=postgres;Password=password
