ASPNETCORE_ENVIRONMENT=Development

UsosOAuth__ConsumerKey=your-usos-consumer-key
UsosOAuth__ConsumerSecret=your-usos-consumer-secret
UsosOAuth__BaseUrl=https://usosapps.put.poznan.pl/
UsosOAuth__CallbackUrl=http://localhost:7278/api/auth/callback
UsosOAuth__Scopes=studies|email

ConnectionStrings__DefaultConnection=Host=localhost;Port=5433;Database=putwiki;Username=postgres;Password=password
