name: CI pipeline

on:
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HUSKY: 0

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      client: ${{ steps.filter.outputs.client }}
      server: ${{ steps.filter.outputs.server }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            client:
              - 'client/**'
            server:
              - 'server/**'

  
  client-verify:
    needs: changes
    if: ${{ needs.changes.outputs.client == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client
    steps:
      - uses: actions/checkout@v6
        
      - uses: actions/setup-node@v4
        with:
          node-version-file: client/package.json
          
      - uses: oven-sh/setup-bun@v2
      
      - name: Install dependencies
        run: bun install --frozen-lockfile
        
      - name: Check linting
        run: bun run lint
        
      - name: Check formatting
        run: bun run format
        
      - name: Perform unit tests
        run: bun run test:unit

  server-verify:
    needs: changes
    if: ${{ needs.changes.outputs.server == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./server
    steps:
      - uses: actions/checkout@v6
        
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: server/global.json
          
      - name: Restore dependencies
        run: dotnet restore PutWiki.slnx
      
      - name: Check formatting
        run: dotnet format PutWiki.slnx --verify-no-changes --verbosity diagnostic
      
      - name: Build and lint
        run: dotnet build PutWiki.slnx --configuration Release --no-restore
      
      - name: Perform unit tests
        run: |
          dotnet test PutWiki.slnx \
          --configuration Release \
          --no-restore \
          --collect:"XPlat Code Coverage" \
          --results-directory ./TestResults
          
      - name: Code coverage summary report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: server/TestResults/**/coverage.cobertura.xml
          badge: true
          format: markdown
          output: both
          
      - name: Add code coverage PR comment
        run: cat "$GITHUB_WORKSPACE/code-coverage-results.md" >> $GITHUB_STEP_SUMMARY  
  ci-status:
    needs: [client-verify, server-verify]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Check overall status
        run: |
          if [ "${{ needs.client-verify.result }}" == "failure" ] || [ "${{ needs.server-verify.result }}" == "failure" ]; then
            echo "One of the builds failed"
            exit 1
          else
            echo "All relevant builds passed or were skipped"
            exit 0
          fi